<footer class="footer {{additionalClass}}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Getting in touch</h2>
                </div>
                <p>
                    Please use the <a href="https://github.com/orgs/NMSCD/discussions" target="_blank"
                        rel="noopener noreferrer">Discussions forum</a> to get in contact with us, discuss questions or
                    offer help.
                </p>
                <p>If you would like to report bugs, please open an issue or pull request on the
                    specific repository. If you are not sure which repository is affected, feel free to create a post on
                    the <a href="https://github.com/orgs/NMSCD/discussions" target="_blank"
                        rel="noopener noreferrer">Discussions forum</a>.
                </p>
                <p>
                    You can also send an email to <a href="mailto:support@nmsassistant.com" target="_blank"
                        rel="noopener noreferrer">support@nmsassistant.com</a>, <i>even though this is an email address
                        for AssistantNMS support, all AssistantNMS Developers, Designers, etc... are part of the NMSCD
                        Organisation and should be able to help you.</i>
                </p>
                <div class="copyright">
                    <span>©NMSCD - built by </span>
                    <a href="{{assistantNms.web}}" target="_blank" rel="noopener noreferrer"
                        title="AssistantNMS">AssistantNMS</a>
                    <span> - {{version}}</span>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
</footer>