node_modules
/.env
/public/assets/css/main.css
/public/assets/css/main.css.map
/public/.htaccess
/public/404.html
/public/github
/public/humans.txt
/public/index.html
/public/manifest.json
/public/opensearch.xml
/public/privacy_policy.html
/public/serviceWorker.js
/public/site.webmanifest
/public/sitemap.xml
/public/terms_and_conditions.html
/template/data/allData.json
/template/data/live.json