section.banner {
    img {
        max-width: min(100%, 40vw);
        margin: 0 auto;
        filter: drop-shadow(0 0 0.5rem whitesmoke);
        transition: filter 250ms ease-in-out;
        will-change: filter;
    }

    &:hover {
        img {
            filter: drop-shadow(0 0 0.75rem whitesmoke);
        }
    }

    .col-9 {
        text-align: center;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0.25em;
    }

    h1 + i {
        font-size: 1.5em;
        color: rgb(185, 185, 185);
    }
}
