// Third party
@use "third-party/nmscdFont";
@use "third-party/simple-grid";
@use "third-party/pico";

@use "var";
@use "page";
@use "navbar";
@use "banner";
@use "members";
@use "projects";
@use "scrollbar";

* {
    box-sizing: border-box;
}

:root {
    --nav-background-color: rgba(56, 64, 75, 0.8);
    --nav-border-color: rgba(165, 190, 200, 0.2);
}

#app-body {
    // Pico css vars
    --primary: #{var.$primaryColour};
    --primary-hover: #{lighten(var.$primaryColour, 10%)};
    --primary-focus: rgba(229, 30, 30, 0.25);
    --primary-inverse: #fff;

    --font-family: "NMSFuturaProBook";
}

body {
    color: #fff;
    background-color: var.$bodyColour;
}

.mt-8 {
    margin-top: 8em;
}

.max-1-line {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.ta-center {
    text-align: center;
}

.primary {
    color: var.$primaryColour;
}

.noselect,
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.hidden-in-desktop {
    @media screen and (min-width: 1000px) {
        display: none;
    }
}

.hidden-in-mobile {
    @media screen and (max-width: 1000px) {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}
